.bg-red {
    background-color: #D24541;
}

.img-xs {
    width: 100px;
}


.myfont {
    font-family: 'Righteous';
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}


.chat-area{
  height: 100%;
  width: 100%;

}

.chat-body{
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 8px;
}