body {
    background: rgb(252, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
  }

  
  .form {
    display: block;
    background: #fff;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  .form h2 {
    margin: 0 0 20px;
    line-height: 1;
    color: #e22219;
    font-size: 18px;
    font-weight: 400;
  }
  .form input {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #ccc;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s linear;
  }
  .form inputinput:focus {
    color: #333;
    border: 1px solid #e22219;
  }
  .form button {
    cursor: pointer;
    background: #e22219;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .form button:hover {
    background: #e22219;
  }
  .error,
  .valid {
    display: none;
  }
  

.header-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;
}

.content{
    position: fixed;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    bottom: 8px;
    top: 8px;
}