<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>HealthGuard Demo Page
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Righteous" />

    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src='/scripts/main.js'></script>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-red mb-4">
        <a class="navbar-brand myfont" href="#">Health Guard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Restart</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="jumbotron">

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h2>Demo page!</h2>
                        <p class="lead">
                            This is a demo page that shows how the Health Guard project can be used in order to perform
                            access control over
                            a restaurant or office entrance.
                        </p>
                        <p>
                            Basically in this scenario Health Guard is used to control the status of a door lock that
                            can allow or deny
                            access to any place.
                        </p>
                        <p>
                            The Semaphore is representing the status of the door.
                        </p>

                        <div class="step0">
                            <a class="btn btn-lg btn-primary" href="javascript:chatbot.sendMessage('hi!')"
                                role="button">Knock at the
                                door...</a>
                        </div>

                        <div class="step1">
                            <a class="btn btn-lg btn-success" href="javascript:chatbot.sendMessage('tempok')"
                                role="button">Send 36.5°</a>
                            <a class="btn btn-lg btn-danger" href="javascript:chatbot.sendMessage('tempko')"
                                role="button">Send 38.0°</a>
                        </div>

                        <div class="step2">
                            <p>Using this form it is possible to upload an image which will be analyzed in order to
                                detect if people showing are wearing or not a mask.</p>
                            <form class="loginbox" id="imgform" action="" method=post enctype=multipart/form-data>
                                <input type=file name=file>
                                <br>
                                <br>
                                <button class="btn btn-lg btn-primary" id="btnSubmit">Submit</button>
                            </form>

                        </div>


                        {{!-- <a class="btn btn-lg btn-primary" href="javascript:chatbot.sendMessage('hi!')">TEST</a> --}}
                    </div>
                    <div class="col-sm">

                        <div class="chat-area">

                            <div class="chat-header">
                                <h3 class="myfont">Health Guard Assistant</h3>
                            </div>

                            <div class="chat-body">

                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <br>
            <hr>

            <div class="locked-door">
                <img src="red_sem.png" class="img-xs">
                <h3>
                    Sorry, the door is locked.
                </h3>
                Please start by knocking at the door.
            </div>

            <div class="no-mask">
                <img src="red_sem.png" class="img-xs">
                <h3>
                    Sorry, the mask is not correctly worn.
                </h3>
                <p>Wearing Mask: KO</p>

                <br>
                <a class="btn btn-lg btn-success" href="javascript:chatbot.sendMessage('i have a passcode')"
                    role="button">Enter Passcode</a>
                <a class="btn btn-lg btn-primary" href="javascript:chatbot.sendMessage('can you help me, please?')"
                    role="button">Request Help</a>


            </div>



            <div class="temp-high">
                <img src="red_sem.png" class="img-xs">
                <img src="therm_red.png" class="img-xs">
                <h3>
                    Your body temperature is too high!
                </h3>
                <p>Body Temperature: KO</p>

            </div>


            <div class="open-door">
                <img src="green_sem.png" class="img-xs">
                <img src="therm_green.png" class="img-xs">

                <h3>
                    Welcome my friend! Please come in!
                </h3>

                <p>Mask Status: OK</p>
                <p>Body Temperature: OK</p>

            </div>



        </div>
    </main>



</body>

</html>